body
{
    background-image: url(images.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px; }

    .container{
        background-color:white;
        border-radius: 5px; 
    }